@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.flexBetween{
  @apply flex justify-between items-center;
}
.flexCenter{
  @apply flex justify-center items-center;
}

.max-pad-container{
  @apply mx-auto max-w-[1440px] px-6 lg:px-20 2xl:px-0;
}

/* Fonts  */
.regular-64{
  @apply text-[64px] font-[400px] leading-[120%];
}
.regular-16{
  @apply text-[16px] font-[400px] leading-[120%];
}
.medium-15{
  @apply text-[15px] font-[400px] leading-[120%];
}
.bold-24{
  @apply text-[24px] font-bold;
}
.bold-36{
  @apply text-[36px] font-bold;
}

/* layer base  */

.active{
  @apply text-crimsonred relative flex-1 after:w-full after:h-[2px] after:bg-crimsonred after:absolute after:bottom-0 after:right-0 after:rounded-full;
}